<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="br.com.balzer.trialtime"
        version="0.1.0">

  <name>Trialtime</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/trialtime.js" target="js/trialtime.js"/>

  <js-module src="www/trialtime.js" name="trialtime">
    <clobbers target="Trialtime" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Trialtime">
        <param name="android-package" value="br.com.balzer.trialtime.plugin.Trialtime"/>
      </feature>
    </config-file>

    <source-file src="src/android/Trialtime.java" target-dir="src/br/com/balzer/trialtime/plugin/"/>
  </platform>


</plugin>